// _variables.scss

// Theme colors
$primary-color: #0050a6;
$primary-shade: #023873;
$primary-tint: #3a7dc6;
$secondary-color: #c00da2;
$tertiary-color: #ffaa00;
$success-color: #008b20;
$danger-color: #b60214;
$warning-color: #ff9101;
$info-color: #a2c4fa;
